@charset "utf-8";

@page { margin: 20mm 15mm; }

h5 { font: 14px/20px Verdana, Helvetica, Arial, sans-serif; text-align: left; font-weight: bold; }

html { background: #ffffff; }

body { width: auto; min-height: 100%; padding: 0; }

#main { margin: 0; }

#links { border: 1px solid #c2c2c5; }

.border { border: 1px solid #c2c2c5; }

#nav, #footer, .banner { display: none; }

/* <table style="page-break-before: always;"> */